{% extends 'layouts/base.html.twig' %}

{% block title 'Changer mot de passe' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-uppercase text-center">Changer mon mot de passe</h1>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Modifier mot de passe</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}