{{ form_start(form) }}
    {{ form_widget(form) }}

    <p class="text-right"><span class="asterisk">*</span> Champs obligatoires</p>
    <input type="submit" value="{{ submitButtonText }}" class="btn btn-primary btn-block" formnovalidate>
{{ form_end(form) }}