{% extends 'layouts/base.html.twig' %}

{% block title 'Email de réinitialisation du mot de passe envoyé' %}

{% block body %}

    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mt-5 mb-3 text-center">Email de réinitialisation du mot de passe envoyé</h1>

            <p class="pt-3 text-center">
                Un e-mail a été envoyé contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe. 
                Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).
            </p>
            <p class="text-center">
                Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
                <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.
            </p>
        </div>
    </div>

{% endblock %}
