{% for type, messages in app.flashes (['alert', 'success', 'info', 'error']) %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}" role="alert" id="error-message">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}