
<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center pt-5">&copy; {{ 'now'|date('Y') }} &middot; Copyright:
    <a href="https://alexyhajjar.fr"> Alexy Hajjar</a><p>Projet de formation, données fictives.</p>
  </div>

</footer>