
<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">&copy; {{ 'now'|date('Y') }} &middot; Copyright:
    <a href="https://alexyhajjar.fr"> Alexy Hajjar</a>
  </div>

</footer>