<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
<div class="container">
    <a class="navbar-brand" href="{{ path('app_home') }}">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{ path('app_home') }}" class="nav-link">Accueil</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_pins_create') }}" class="nav-link" >Ajouter un produit</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" >Compte</a>
            </li>
        </ul>
    </div>
</div>
</nav>