{% extends 'layouts/base.html.twig' %}

{% block title '404' %}

{% block body %}

    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">404</span>
                    <div class="mb-4 lead">La page que vous recherchez n'a pas été trouvée.</div>
                    <a href="#" class="btn btn-link">Retourner à l'accueil</a>
                </div>
            </div>
        </div>
</div>

{% endblock %}


